
.container {
  color: black;
  margin-top: 12.0rem;
  background-color: #0093E9;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 5.8rem 10%;
  gap: 1.0rem;
}

.text h2 {
  font-size: 3.0rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.text p {
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 2.6rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.link a {
  color:black;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

@media screen and (max-width: 83.0rem) {
  .container {
    flex-direction: column;
    gap: 2.3rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
.links img {
  height: 4.0rem;
}