/* Home.css */

#home-section {
  text-align: center;
  padding: 5.0rem;
  background-color: #f0f0f0;
  position: relative;
}

.home-image {
  width: 100%;
  max-width: 140.0rem;
  border-radius: 1.0rem;
  animation: fadeIn 1.5s ease-in-out;
}

.text-content {
  position: absolute;
  top: 50%; /* Adjusted top position for better centering */
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2rem;
  margin-bottom: 2.0rem;
  color: #fff;
}

p {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 3.0rem;
}

button {
  padding: 1.0rem 2.0rem;
  font-size: 1em;
  background-color: #ee0a12;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 630px) {
  .text-content {
    top: 25%; /* Adjusted top position for better centering on smaller screens */
    text-align: center;
    font-size: 1rem;
  }

  h1 {
    font-size: 0.2rem; /* Adjusted font size for smaller screens */
  }

  p {
    font-size: 0.5em; /* Adjusted font size for smaller screens */
    margin-bottom: 1.0rem; /* Reduced margin for better spacing on smaller screens */
  }

  button {
    padding: 0.1rem 0.1rem; /* Adjusted padding for smaller screens */
    font-size: 0.9em; /* Adjusted font size for smaller screens */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
