/* ServicesPage.module.css */

#services {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow services to wrap to the next line on smaller screens */
  justify-content: space-between;
  max-width: 80.0rem; /* Adjusted max-width for better responsiveness */
  margin: 0 auto;
  padding: 2.0rem;
  text-align: center;

}

.services-heading {
  color: #333;
  text-align: center;
  font-size: 4rem;
  margin: 5% auto;
}

.service {
  flex: 1; /* Make services flexible to occupy equal width on larger screens */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.0rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s; /* Adding transition for smooth hover effect */
}

.service:hover {
  transform: scale(1.05); /* Scale up the service on hover */
}

.service img {
  width: 50%;
  height: auto;
  transition: box-shadow 0.3s; /* Adding transition for smooth hover effect */
}

.service:hover img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 8px 8px 0;
}

.service-content {
  padding: 2.0rem;
}

.service h2 {
  color: #333;
}

.service p {
  color: #666;
}

@media screen and (max-width: 630px) {
  .text-content {
    top: 60%; /* Adjusted top position for better centering on smaller screens */
  }

  .services-heading {
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin: 5% auto;
  }

  h1 {
    font-size: 1.2em; /* Adjusted font size for smaller screens */
  }

  p {
    font-size: 1em; /* Adjusted font size for smaller screens */
    margin-bottom: 2.0rem; /* Reduced margin for better spacing on smaller screens */
  }

  button {
    padding: 8px 15px; /* Adjusted padding for smaller screens */
    font-size: 0.9em; /* Adjusted font size for smaller screens */
  }
}
